ul.PollBox {
    list-style-type: none;
}
ul.PollBox li{
    line-height: 2em;
}

.description {
    font-size: 80%;
    color: grey;
}
.slider {
    width: 100%;
}

.PollBox {
   /* margin: 40px;
    border: 5px dotted pink;*/
}
